*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

  --color-primary: #4f46e5;
  --color-secondary: #111827;
  --color-text: #374151;
  --color-white: #ffffff;

  /* Spacing */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;

 
  --font-main: 'Inter', sans-serif;

  --radius-md: 8px;


  --transition: all 0.5s ease;
  --transition-btn : all 0.5s ease 
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url('/fonts/Roboto_Condensed-ExtraBold.ttf');
}

body{
    font-family: var(--font-main);
    line-height: 1.5;
}

.header{
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-lg);
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.menu-toggle .mdi {
    font-size: 28px;
}

@media (max-width : 768px){
    .header{
        height: auto;
        padding: var(--space-md);
        gap: 10px;
    }
    .navbar{
        flex-direction: column;
        gap: 10px;
    }
    .nav-links{
        flex-direction: column;
        gap: 10px;
    }
    .menu-toggle{
        display: block;
    }
    .rightSideHeader{
        display: none;
    }

    .rightSideHeader.active{
        display: flex;
        justify-content: center;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .nav-links{
        flex-direction: column;
        gap: 10px;
    }


}

.logo img{
    height: 40px;
    width: auto;
}

.companyName{
    font-size: 1.5rem;
    font-weight: 600;
}

.leftSideHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}


.navbar{
    display: flex;  
    align-items: center;
    gap: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media (max-width: 768px){
    
}

.signInbtn{
    font-size: 1rem;
    font-weight: 600;
    max-height: 40px;
    padding: var(--space-sm) var(--space-md);
    margin: auto;
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: all 0.5s ease;
}

.signInbtn:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(93, 21, 187, 0.8) ;
    transform: scale(1.05);
}

.nav-links a{
    color: var(--color-white);
    text-decoration: none;
    /* transition: all 1s ease; */
}

a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

/* header part ends here */


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: var(--space-lg) var(--space-lg) ;
    min-height: calc(100vh - 80px);
}

.titleText{
    font-size: 4rem;
    font-family: "Roboto";
    line-height: 1.2;
}
.t2{
    color: #4f46e5;
}
.description{
    text-align: center;
    font-family: "Roboto";
    font-size: 1.1rem;
    margin-top: 10px;
}
.cta-btn{
    display: flex;
    gap: 10px;
    padding: var(--space-lg);
}

.start-btn{
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-md);
    border: none;
    background-color: #4f46e5;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}
.story-btn{
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-md);
    border: 2px solid #4f46e5;
    color: #1209c7;
    font-weight: 700;
    cursor: pointer;
    transition: var(--transition);
}

.start-btn:hover{
    border: 2px solid #4f46e5;
    background-color: #ffffff;
    font-weight: 600;
    color: #4f46e5;

}
.story-btn:hover{
    border: none;
    background-color: #4f46e5;
    font-weight: 600;
    color: #ffffff;
}

@media (max-width: 768px){
    .titleText{
        font-size: 3rem;
    }
    .cta-btn {
        flex-direction: column;
    }
}